<a href="https://colab.research.google.com/github/KhushnurAnjum26/Data-Analysis/blob/main/Data_Understanding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Understanding data-4 questions are asked-**
1)Asking basic questions

2)EDA with univariate

3)EDA with multivariate

4)Pandas profiler

## **1)Asking basic questions-**

**Generally 7 questions are asked after fetching the csv file. These questions are given below**

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('aug_train.csv')

# **1)How big the data is?**

In [4]:
df.shape

(19158, 14)

# **2)How does the data looklike**

In [8]:
df.head()

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,8949,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,1,36,1.0
1,29725,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,0.0
2,11561,city_21,0.624,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,83,0.0
3,33241,city_115,0.789,NaN,No relevent experience,NaN,Graduate,Business Degree,<1,NaN,Pvt Ltd,never,52,1.0
4,666,city_162,0.767,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,50-99,Funded Startup,4,8,0.0

In [9]:
#to get any rondom row use sample function(Better option than head)

df.sample(5)

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
1552,32559,city_103,0.920,Male,No relevent experience,Full time course,Graduate,STEM,4,NaN,NaN,1,21,0.0
5375,10998,city_136,0.897,Male,Has relevent experience,no_enrollment,Masters,STEM,6,10/49,Funded Startup,2,146,0.0
7110,8345,city_158,0.766,Male,No relevent experience,Full time course,Graduate,STEM,3,NaN,NaN,1,157,1.0
831,22997,city_173,0.878,Male,Has relevent experience,no_enrollment,Masters,STEM,10,10000+,Pvt Ltd,3,9,0.0
16813,2103,city_21,0.624,NaN,Has relevent experience,no_enrollment,Graduate,STEM,6,100-500,Pvt Ltd,1,20,1.0

# **3)What is the type of cols?**

In [11]:
#Knowing the datatypes of the cols and check the number of values that are not-null. Also to know the memory occupy size for the data

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             19158 non-null  int64
 1   city                    19158 non-null  object
 2   city_development_index  19158 non-null  float64
 3   gender                  14650 non-null  object
 4   relevent_experience     19158 non-null  object
 5   enrolled_university     18772 non-null  object
 6   education_level         18698 non-null  object
 7   major_discipline        16345 non-null  object
 8   experience              19093 non-null  object
 9   company_size            13220 non-null  object
 10  company_type            13018 non-null  object
 11  last_new_job            18735 non-null  object
 12  training_hours          19158 non-null  int64
 13  target                  19158 non-null  float64
dtypes: float64(2), int64(2), object(10)
memory usage: 2.0+ MB

# **4)Are there any missing value?**

In [12]:
df.isnull().sum()

enrollee_id                  0
city                         0
city_development_index       0
gender                    4508
relevent_experience          0
enrolled_university        386
education_level            460
major_discipline          2813
experience                  65
company_size              5938
company_type              6140
last_new_job               423
training_hours               0
target                       0
dtype: int64

# **5)How does the data look mathematically?**

In [13]:
#Will get insights for only numerical datas!That is the sole problem
df.describe()

        enrollee_id  city_development_index  training_hours        target
count  19158.000000            19158.000000    19158.000000  19158.000000
mean   16875.358179                0.828848       65.366896      0.249348
std     9616.292592                0.123362       60.058462      0.432647
min        1.000000                0.448000        1.000000      0.000000
25%     8554.250000                0.740000       23.000000      0.000000
50%    16982.500000                0.903000       47.000000      0.000000
75%    25169.750000                0.920000       88.000000      0.000000
max    33380.000000                0.949000      336.000000      1.000000

# **6)Are there any duplicate values?**

In [15]:
#Check if there is any duplicate data or row

p=df.duplicated().sum()

np.int64(0)

In [19]:
#Eliminating duplicate rows

# To drop duplicate rows and keep the first occurrence
df = df.drop_duplicates()

# If you want to drop duplicates in-place without creating a new DataFrame
df.drop_duplicates(inplace=True)

# **7)How is the Correlation between the columns?**

In [21]:
#Finds pearson correlation(-1 to +1)
#- means inversely proposional
df.corr(numeric_only=True)

,enrollee_id,city_development_index,training_hours,target
enrollee_id,1.000000,-0.040455,0.000998,0.049475
city_development_index,-0.040455,1.000000,0.001920,-0.341665
training_hours,0.000998,0.001920,1.000000,-0.021577
target,0.049475,-0.341665,-0.021577,1.000000

In [22]:
#Checks the correlation with other cols with a specific col
df.corr(numeric_only=True)['enrollee_id']

enrollee_id               1.000000
city_development_index   -0.040455
training_hours            0.000998
target                    0.049475
Name: enrollee_id, dtype: float64

In [ ]:
from google.colab import drive
drive.mount('/content/drive')